@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Nhóm 3</h2>
<h3>Các thành viên nhóm</h3>
<p>Nguyễn Võ Vĩnh An</p>
<p>Phạm Nguyễn Quốc Anh</p>
<p>Nguyễn Thế Nguyên</p>
<p>Nguyễn Bình Nguyên</p>
<p>Trần Minh Quý</p>