@{
    Layout = "~/Views/Shared/_MasterLayout1.cshtml";
}
<style type="text/css">
    .contact{
        font-size:30px;
        margin-left:2rem;
        margin-top:1rem;
        color:red;
        font-weight:bold;
    }
    .contact-text{
        font-size:20px;
    }
    .lienhe{
        font-size:20px;
    }
    .nen {
        text-align: center;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
        width:1000px;
        justify-content:center;
        margin:0 auto;
    }
</style>
<div class="nen">
<div class="contact">
    Vấn đề của bạn là gì?

</div><hr/>
<div class="contact-text">
    Mọi thắc mắc hoặc những vấn đề bạn gặp phải và cần được xử lý, giải đáp. Xin vui lòng liên hệ qua đường dây nóng: <a href="01667043061">01667043061</a>
 <p>Hoặc bạn có thể liên hệ đến chúng tôi thông qua các đường link ở dưới:</p>
</div>


      <div class="lienhe">
          <p><a href="https://www.facebook.com/profile.php?id=100061974022081" target="_blank">Phạm Nguyễn Quốc Anh</a></p>
          <p><a href="https://www.facebook.com/nguyenvovinhan555" target="_blank">Nguyễn Võ Vĩnh An</a></p>
          <p><a href="https://www.facebook.com/quy.tranminh.338" target="_blank">Trần Minh Quý</a></p>
          <p><a href="https://www.facebook.com/thenguyen.nguyen.564" target="_blank">Nguyễn Thế Nguyên</a></p> 
          <p><a href="https://www.facebook.com/profile.php?id=100080248546666" target="_blank">Nguyễn Bình Nguyên</a></p>
          

      </div>
</div>