<style type="text/css">
    html {
        font-size: 14px;
       
        font-family: /*'Franklin Gothic Medium', 'Arial Narrow',*/ Arial, sans-serif;
    }
    
    body {
        background-color: whitesmoke;
    }

    #container {
        box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        width: 100%; /* Đặt chiều rộng cố định cho khung */
        margin: 0 auto; /* Canh giữa trang */
        max-width:1800px;
    }

    header {
        background-color: deepskyblue;
        border: 5px solid #5486d7;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Cart {
        position: relative;
    }

    .cart-count {
        position: absolute;
        top: -30px;
        left: 130px;
        background-color: pink;
        color: white;
        font-size: 12px;
        padding: 2px 6px;
        border-radius: 50%;
        margin-block: 10px;
    }

    .logo img {
        height: 80px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
    }

        nav ul li {
            margin-left: 30px;
            font-size: 1.2rem;
        }

    ul li a {
        text-decoration: none;
        color: #000;
       
    }

    section {
        background-color: snow;
        min-height: 700px;
    }

    nav ul li img {
        height: 15px;
    }

    nav {
        text-align: right;
    }
    .footer{
        
        display:flex;
        justify-content:space-between;
    }
    .left1{
        text-align:left;
        font-size:15px;
    }
    .left2 {
        text-align: left;
        font-size: 20px;
    }
    .left3 {
        text-align: left;
        font-size: 20px;
    }
    .footer .logo1 img {
        height: 30px; /* Chỉnh kích thước ảnh nhỏ lại */
        margin: 0 5px; /* Khoảng cách giữa các ảnh */
    }
    .footer p {
        margin: 5px 0; /* Tạo khoảng cách nhỏ giữa các chữ */
    }
    .task {
        background-color:black;
       height:25px;
      
    }
    .main-menu{
         display:flex;
        gap:50px;
        font-size:17px;
        margin-left:1rem;
        
    }
    .main-menu a{
        color:white;
        text-decoration:none;
    }
 
    .dropdown {
        position: relative;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    
</style>
<!DOCTYPE html>

<html lang="vi">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container">
        <header>
            <div class="logo">
                <a href="~/Home/trangchu"><img src="~/Content/img/logo.jpg" alt="logo" /></a>
            </div>
            <nav>
                FREE SHIPPING ON ALL ORDER. NO MINIMUM PURCHASE
                <ul>
                    <li>
                        <a href="~/ShoppingCart/ShoppingCart">
                            <img src="~/Content/img/cart.jpg" />
                        </a>
                        <a href="~/ShoppingCart/ShoppingCart">Shopping Cart</a>
                        <div class="Cart">
                            <a href="~/Product/ShoppingCart">
                                <span class="cart-count ">0</span>
                            </a>
                        </div>
                    </li>
                    <li>
                        <a href="~/ShoppingCart/HistoryShopping"><img src="~/Content/img/hearticon.jpg" /></a>
                        <a href="~/ShoppingCart/HistoryShopping">My Wishlist</a>
                    </li>
                    <li>
                        <a href="~/User/Login">
                            <img src="~/Content/img/acconticon.jpg" />
                        </a>
                        <a href="~/User/Login">Sign or Create an account</a>

                </ul>

            </nav>
        </header>
        <div class="task">
            <div class="main-menu">
                <div><a href="~/Home/TrangChu">Home</a></div>
                <div class="dropdown">
                    <a href="#">Danh sách sản phẩm</a>
                    <div class="dropdown-content">
                        <a href="~/Product/ProductList">One Piece</a>
                        <a href="~/Product/ProductList2">Bleach</a>
                        <a href="~/Product/ProductList1">Naruto</a>
                        <a href="~/Product/ProductList3">Dragon Ball</a>
                        <a href="~/Product/ProductList4">Kimetsu no Yaiba</a>
                        <a href="~/Product/ProductList5">Gundam</a>
                    </div>
                </div>
                <div><a href="~/Home/LienHe">Liên hệ</a></div>
              
            </div>
        </div>
        <section>

            @RenderBody()
        </section>
        <footer style="background-color: deepskyblue; color: white; padding: 20px; text-align: center; border-top: 5px solid #5486d7;">
            <div class="footer">
                <div class="left1">
                    <div class="logo">
                        <a href="~/Home/trangchu"><img src="~/Content/img/logo.jpg" alt="logo" /></a>
                    </div>
                    <p style="font-weight: bold;">WEBSITE THUỘC QUYỀN SỞ HỮU:</p>
                    <p>Mô hình Tedi - Shop mô hình anime giá rẻ</p>
                    <p>Địa Chỉ: 206/34 Lý Thường Kiệt, Phường 14, Quận 10, HCM</p>
                    <p>Hotline: 0923.867.916</p>
                    <p>Email: <a href="mailto:mohinhfigure@gmail.com" style="color: white; text-decoration: none;">mohinhfigure@gmail.com</a></p>

                </div>
                <div class="left2">
                    <p style="font-weight: bold;">Danh Mục Sản Phẩm</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;">Mô Hình Anime</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;">Nendoroid</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;">Bộ figure</p>
                </div>
                <div class="left3">
                    <p style="font-weight: bold;">Liên Hệ</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;">Phạm Nguyễn Quốc Anh</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;"> Nguyễn Thế Nguyên</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;">Nguyễn Bình Nguyên</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;">Trần Minh Quý</p>
                    <p href="#" style="color: white; margin: 0 15px; text-decoration: none;">Nguyễn Võ Vĩnh An</p>
                </div>

                <div style="margin-top: 20px;">
                    <p style="font-weight: bold;">KẾT NỐI VỚI MÔ HÌNH Tedi</p>
                    <!-- Bạn có thể thêm các biểu tượng mạng xã hội vào đây nếu cần -->
                    <div class="logo1">
                        <a href="https://www.facebook.com/profile.php?id=100061974022081" target="_blank"><img src="~/Content/img/fb.jpg" alt="logo" /></a>
                        <a href="https://mail.google.com/mail/u/0/?hl=vi#inbox" target="_blank"><img src="~/Content/img/gmail.jpg" alt="logo" /></a>
                        <a href="~/Home/trangchu"><img src="~/Content/img/x.jpg" alt="logo" /></a>
                        <a href="https://www.instagram.com/katori01458/" target="_blank"><img src="~/Content/img/ins.jpg" alt="logo" /></a>
                    </div>
                </div>
            </div>
        </footer>



    </div>
</body>
</html>
